<h1>Shipping Information</h1>

<form action="/output" method="post">
  <div class="form-group">
    <label for="length">Length of your package</label>
    <input id="l" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Width of your package</label>
    <input id="w" name="width" class="form-control" type="text">
  </div>
  <div class="form-group"
    <label for="depth">Depth of your package</label>
    <input id="d" name="depth" class="form-control" type="text">
  </div>
  <div class="form-group"
    <label for="weight">Weight of your package</label>
    <input id="lbs" name="weight" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-primary">Go!</button>
</form>
